@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root[data-theme="light"]{
  --bg-color:#f3f4f6;

  --bg-aside:white;

  --bg-card:white;
  --bg-search:white;
  --bg-add-button:black;
  --search-placeholder:gray;
  --search-box-shadow:.8px .8px 3px gray;
  --active:black;
  
  --profile-border:black;
  --profile-text:black;

  --text:black;
}
:root[data-theme="dark"]{
  --bg-color:#101828;

  --bg-aside:#1E2939;

  --bg-card:#1E2939;
  --bg-search:#1E2939;
  --bg-add-button:#1E2939;
  --text-search:white;
  --search-placeholder:white;
  --search-box-shadow:var(--search-box-shadow);
  --active:white;
  --add-button:#1E2939;
  
  --profile-border:#9e9e9e;
  --profile-text:rgb(183, 179, 179);

  --text:white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100vh;

  .under-control {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 20fr;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: var(--bg-color);
}

//--------------aside
.HoverControler {
  width: 100%;
  height: 100%;
  padding: 14px 10px 14px 10px;
}

.aside {
  display: flex;
  justify-content: center;
  width: 130px;
  height: 100%;
  transition: 0.3s;
  background-color: var(--bg-aside);

}


//-----------------logo and header
.main-section {
  .central-holder {
    width: 55%;
    margin: 0 auto;

    .logo {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      h1{
        color: var(--text);
      }
    }
  }
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 3%;

  .darkness {
    width: 50px;
    height: 50px;
    font-size: 50px;
    svg{
      width: 100%;
      height: 100%;
      color: var(--text);
    }
  }
}

//--------------search
.search-section {
  width: 60%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding-left: 15px;
    box-shadow: 0.8px 0.8px 3px gray;
    font-size: 1rem;
    box-shadow: var(--search-box-shadow);
    background-color: var(--bg-search);
    color: var(--text);
    &::placeholder{
      color: var(--search-placeholder);
    }
  }

  .add-button {
    padding: 0;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--bg-add-button);
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
  }
}

//-------------card Component
.master-card {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .cards {
    width: 60%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr;
    border-radius: 10px;
    background-color: var(--bg-card);
    overflow: hidden;
    box-shadow: var(--search-box-shadow);

    .checkbox {
      appearance: none;
      position: relative;
      width: 1.1rem;
      height: 1.1rem;
      border: 1px solid;
      line-height: 1;
      background: transparent;
      border-radius: 4px;
      color: var(--text);
    }

    .checkbox:checked {
      background: black;
    }

    .checkbox[type="checkbox"]::before {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      white-space: pre;
      content: " ";
      color: white;
    }

    input[type="checkbox"]:checked::before {
      content: "\2713";
    }

    .lined {
      text-decoration: line-through;
      text-decoration-thickness: 2px;
      color: rgba(0, 0, 0, 0.678);
    }

    .icons {
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 20px;
      color: var(--text);
    }

    .order-of-cards {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .todo-title {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-size: 20px;
        color: var(--text);

      }

      .editor-input {
        width: 100%;
        height: 50%;
        font-size: 1rem;
        background-color: transparent;
        outline: none;
        border-radius: 3px;
        border: none;
        border-bottom: 3px solid gray;
        padding: 10px;
        color: var(--text);

      }

      #disabled {
        border: none;
        outline: none;
        color: black;
      }
    }
  }
}

//----------------------empty man
.emptyMan {
  width: 100%;
  display: flex;
  position: relative;

  svg {
    width: 100%;
    height: 100%;
  }

  .text-position {
    position: absolute;
    bottom: 45%;
    right: 15%;
    transition: 0.3s;

    h2 {
      font-style: italic;
      font-weight: 400;
      color: #333333;
    }
  }

}

//---------------footer
footer {
  position: absolute;
  right: 45%;
  bottom: 3%;
  color: gray;
  font-weight: 400;
}

//--------------completed tasks
#completed {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  color: #6A7282;
}

//-------------afterHover


//--------------after hover in aside
.padded-aside {
  width: 100%;
  display: block;

  .card-close {
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    color: var(--text);
    .transparent-bg{
      svg{
        width: 85%;
        height: 85%;
      }
    }
    .routes {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 20px;
      text-decoration: none;
      color: inherit;
    }

  }

  .card-close:first-child {
    border-radius: 0;
    cursor: default;
    display: block;
    min-height: 100px;
    border-bottom: 1px solid var(--profile-border);

    .profile-spot {
      display: block;
      height: 200px;

      .profile {
        width: 100%;
        height: 100%;

        .circle-profile {
          margin-top: 30px;
          width: 100%;
          height: 100px;
          display: flex;
          justify-content: center;

          .radius {
            width: 100px;
            height: 100px;
            border-radius: 999px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .text-profile {
          text-align: center;

          h3 {
            line-height: 60px;
            color:var(--profile-text) ;
          }

          h5 {
            line-height: 0;
            color:var(--profile-text) ;
          }
        }
      }
    }
  }
  .testActive{
    background-color: red;
  }
  .activeNav{
    background-color: #F3F4F6;
    color: black;
  }

  .background-of-todo-item {
  width: 104px;
  height: 58px;
  // background-color: #F3F4F6;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 85%;
    height: 85%;
  }
}

.transparent-bg {
  width: 104px;
  height: 58px;
  background-color: transparent;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 85%;
    height: 85%;
  }

}

  #active-div {
    // background-color: #F3F4F6;

    p {
      color: black;
    }
  }
}


@media (max-width: 1850px) {
  .emptyText-darkMode {
    display: none;
  }
}

@media (max-width: 1400px) {
  .search-section {
    width: 100%;
  }
  .central-holder {
    width: 85%;
  }
}

@media (max-width: 600px) {
  .aside {
    display: none;
  }
  .main-section {
    width: 400px;
    height: 100%;

  }
  .central-holder {
    width: 100%;
  }
}

//------------fillterBar
.filter-bar {
  width: 60%;
  margin: 0 auto;

  ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;

    li {
      padding: 0 10px;
      border-right: 1px solid;
      color: gray;
    }

    li:last-child {
      border: none;
    }
  }
}
//---------------------filter component 
#active{
  color:var(--active);
}