@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100vh;
}
#app .under-control {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 20fr;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.HoverControler {
  width: 100%;
  height: 100%;
  padding: 14px 10px 14px 10px;
}

.aside {
  display: flex;
  justify-content: center;
  width: 130px;
  height: 100%;
  transition: 0.3s;
}

.main-section .central-holder {
  width: 55%;
  margin: 0 auto;
}
.main-section .central-holder .logo {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 3%;
}
.header .darkness {
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.search-section {
  width: 60%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.search-section input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding-left: 15px;
  box-shadow: 0.8px 0.8px 3px gray;
  font-size: 1rem;
}
.search-section .add-button {
  padding: 0;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 1px 1px 1px black;
}

.master-card {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.master-card .cards {
  width: 60%;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0.1px 0.6px 3.3px gray;
  overflow: hidden;
}
.master-card .cards .checkbox {
  appearance: none;
  position: relative;
  width: 1.1rem;
  height: 1.1rem;
  border: 1px solid;
  line-height: 1;
  background: transparent;
  border-radius: 4px;
}
.master-card .cards .checkbox:checked {
  background: black;
}
.master-card .cards .checkbox[type=checkbox]::before {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  white-space: pre;
  content: " ";
  color: white;
}
.master-card .cards input[type=checkbox]:checked::before {
  content: "✓";
}
.master-card .cards .lined {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  color: rgba(0, 0, 0, 0.678);
}
.master-card .cards .icons {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
}
.master-card .cards .order-of-cards {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.master-card .cards .order-of-cards .todo-title {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 20px;
}
.master-card .cards .order-of-cards .editor-input {
  width: 100%;
  height: 50%;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
}
.master-card .cards .order-of-cards #disabled {
  border: none;
  outline: none;
  color: black;
}

.emptyMan {
  width: 100%;
  display: flex;
  position: relative;
}
.emptyMan svg {
  width: 100%;
  height: 100%;
}
.emptyMan .text-position {
  position: absolute;
  bottom: 45%;
  right: 15%;
  transition: 0.3s;
}
.emptyMan .text-position h2 {
  font-style: italic;
  font-weight: 400;
  color: #333333;
}

#special-width-empty {
  width: 100%;
}

#dark-aside .card-close {
  color: #d8d8d8;
}
#dark-aside .card-close:first-child {
  background: transparent;
}
#dark-aside .card-close:last-child {
  background: transparent;
}

#light {
  background-color: #F3F4F6;
}

#dark-aside {
  background: #1E2939;
}
#dark-aside .card-close:first-child {
  border-bottom: 1px solid rgb(158, 158, 158);
}

#dark {
  background-color: #101828;
}
#dark .search {
  background-color: #1E2939;
  color: white;
  box-shadow: 0.4px 0.4px 1px black;
}
#dark .search::placeholder {
  color: white;
}
#dark .logo {
  color: white;
}
#dark .add-button {
  background-color: #1E2939;
  box-shadow: 0.4px 0.4px 1px black;
}
#dark .isDark {
  color: white;
}
#dark .emptyText-darkMode {
  color: white;
}
#dark .checkbox {
  border: 1px solid white;
}
#dark .cards {
  background: #1E2939;
  box-shadow: 0.4px 0.4px 1px black;
}
#dark .todo-title {
  color: white;
}
#dark .editor-input {
  color: white;
}
#dark i {
  color: white;
  font-weight: 400;
}
#dark #completed {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  color: #6A7282;
}

footer {
  position: absolute;
  right: 45%;
  bottom: 3%;
  color: gray;
  font-weight: 400;
}

#completed {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  color: #6A7282;
}

.padded-aside {
  width: 100%;
  display: block;
}
.padded-aside .card-close {
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.padded-aside .card-close .routes {
  text-decoration: none;
  color: inherit;
}
.padded-aside .card-close:first-child {
  border-radius: 0;
  cursor: default;
  display: block;
  min-height: 100px;
  border-bottom: 1px solid black;
}
.padded-aside .card-close:first-child .profile-spot {
  display: block;
  height: 200px;
}
.padded-aside .card-close:first-child .profile-spot .profile {
  width: 100%;
  height: 100%;
}
.padded-aside .card-close:first-child .profile-spot .profile .circle-profile {
  margin-top: 30px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.padded-aside .card-close:first-child .profile-spot .profile .circle-profile .radius {
  width: 100px;
  height: 100px;
  border-radius: 999px;
  overflow: hidden;
}
.padded-aside .card-close:first-child .profile-spot .profile .circle-profile .radius img {
  width: 100%;
  height: 100%;
}
.padded-aside .card-close:first-child .profile-spot .profile .text-profile {
  text-align: center;
}
.padded-aside .card-close:first-child .profile-spot .profile .text-profile h3 {
  line-height: 60px;
}
.padded-aside .card-close:first-child .profile-spot .profile .text-profile h5 {
  line-height: 0;
}
.padded-aside .background-of-todo-item {
  width: 104px;
  height: 58px;
  background-color: #F3F4F6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.padded-aside .transparent-bg {
  width: 104px;
  height: 58px;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.padded-aside #active-div {
  background-color: #F3F4F6;
}
.padded-aside #active-div p {
  color: black;
}

@media (max-width: 1850px) {
  .emptyText-darkMode {
    display: none;
  }
}
@media (max-width: 1400px) {
  .search-section {
    width: 100%;
  }
  .central-holder {
    width: 85%;
  }
}
@media (max-width: 600px) {
  .aside {
    display: none;
  }
  .main-section {
    width: 400px;
    height: 100%;
  }
  .central-holder {
    width: 100%;
  }
}
.filter-bar {
  width: 60%;
  margin: 0 auto;
}
.filter-bar ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}
.filter-bar ul li {
  padding: 0 10px;
  border-right: 1px solid;
  color: gray;
}
.filter-bar ul li:last-child {
  border: none;
}

/*# sourceMappingURL=style.css.map */
