@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root[data-accent="primary"] {
  --accent: #020100;
  --accent-secondry: #02010060;
}
:root[data-accent="secondry"] {
  --accent: #2462fc;
  --accent-secondry: #2461fc5b;
}
:root[data-accent="thirdly"] {
  --accent: #653df3;
  --accent-secondry: #643df362;
}
:root[data-accent="fourthly"] {
  --accent: #1bbd75;
  --accent-secondry: #1bbd7452;
}
:root[data-accent="fifthly"] {
  --accent: #fc800e;
  --accent-secondry: #fc810e53;
}
:root[data-accent="sixthly"] {
  --accent: #f54866;
  --accent-secondry: #f548654a;
}

:root[data-theme="light"] {
  //------------bg colors
  --bg-color-primary: #f3f4f6;
  --bg-color-secondry: #fefefe;
  --bg-color-third: #20222e;
  //----------text
  --text-color-primary: #242b3f;
  --text-color-secondry: #868d9e;

  //-----------border colors
  --border-primary: #f1f3f5;

  //-----------inver
  --invert: invert(0);

  //----------box shadows
  --search-box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.287);
}
:root[data-theme="dark"] {
  //------------bg colors
  --bg-color-primary: #0e0f13;
  --bg-color-secondry: #111316;
  --bg-color-third: #20222e;
  //----------text
  --text-color-primary: #f4f3f1;
  --text-color-secondry: #323338;

  //-----------border colors
  --border-primary: #191b20;

  //-----------inver
  --invert: invert(1);

  //----------box shadows
  --search-box-shadow: 1px 1px 3px rgba(18, 18, 18, 0.209);
}
#app {
  width: 100%;
  height: 100vh;

  .under-control {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 20fr;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-color-primary);
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: var(--bg-color-primary);
}

//--------------aside
.HoverControler {
  width: 100%;
  height: 100%;
  padding: 14px 10px 14px 10px;
}

.aside {
  display: flex;
  justify-content: center;
  width: 130px;
  height: 100%;
  transition: 0.3s;
  background-color: var(--bg-color-secondry);
  border-right: 1px solid var(--border-primary);
}
.extend {
  width: 400px;
  color: var(--text-color-primary);
}
.unextend {
  width: 130px;
  color: var(--text-color-primary);
}
//-----------------logo and header
.main-section {
  .central-holder {
    width: 80%;
    margin: 0 auto;

    .logo {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      h1 {
        font-size: 2rem;
      }
    }
  }
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 3%;

  .darkness {
    width: 50px;
    height: 50px;
    font-size: 50px;
    svg {
      width: 100%;
      height: 100%;
      color: var(--text-color-primary);
    }
  }
}

//--------------search
.search-section {
  width: 60%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  .search {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  input {
    width: 100%;
    max-width: 400px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding-left: 15px;
    background-color: var(--bg-color-secondry);
    border: 1px solid var(--border-primary);
    font-size: 1rem;
    color: var(--text-color-primary);
    box-shadow: var(--search-box-shadow);
    &::placeholder {
      color: var(--text-color-secondry);
    }
  }

  //------------fillterBar
  .filter-bar {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    ul {
      display: flex;
      text-decoration: none;
      list-style-type: none;

      li {
        padding: 0 10px;
        border-right: 1px solid;
        color: var(--text-color-secondry);
      }

      li:last-child {
        border: none;
      }
    }
  }

  .add-button {
    padding: 0;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--accent);
    border: 1px solid var(--border-primary);
  }
}

//-------------card Component
.master-card {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-radius: 15px;
  // overflow: hidden;

  .cards {
    width: 100%;
    max-width: 600px;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--bg-color-secondry);
    border: 1px solid var(--border-primary);
    color: var(--text-color-primary);
    box-shadow: var(--search-box-shadow);
    .checkbox {
      appearance: none;
      position: relative;
      width: 1.1rem;
      height: 1.1rem;
      border: 1px solid var(--accent);
      line-height: 1;
      background: transparent;
      border-radius: 4px;
    }

    .checkbox:checked {
      background: var(--accent);
    }

    .checkbox[type="checkbox"]::before {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      white-space: pre;
      content: " ";
      color: white;
    }

    input[type="checkbox"]:checked::before {
      content: "\2713";
    }

    .lined {
      text-decoration: line-through;
      text-decoration-thickness: 2px;
      color: var(--text-color-secondry);
    }

    .icons {
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 20px;
    }

    .order-of-cards {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .todo-title {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-size: 20px;
      }

      .editor-input {
        width: 100%;
        height: 50%;
        font-size: 1rem;
        background-color: transparent;
        outline: none;
        border-radius: 3px;
        border: none;
        border-bottom: 3px solid gray;
        padding: 10px;
      }
    }
  }
}

//----------------------empty man
.emptyMan {
  width: 100%;
  display: flex;
  justify-content: center;
  svg {
    width: 100%;
    height: 100%;
  }

  .text-position {
    width: 80%;
    max-width: 50%;
    transition: 0.3s;
    display: flex;
    align-items: center;
    position: relative;
    h2 {
      left: -40%;
      position: absolute;
      font-size: 1.4rem;
      font-style: italic;
      font-weight: 400;
    }
  }
}

//---------------footer
footer {
  position: absolute;
  right: 45%;
  bottom: 3%;
  color: var(--accent);
  font-weight: 400;
}

//--------------completed tasks
#completed {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  color: var(--text-color-secondry);
}

//-------------afterHover

//--------------after hover in aside
.padded-aside {
  width: 100%;
  display: block;
  .card-close {
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    .transparent-bg {
      svg {
        width: 85%;
        height: 85%;
      }
    }
    .routes {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 20px;
      text-decoration: none;
      color: inherit;
    }
  }

  .card-close:first-child {
    border-radius: 0;
    cursor: default;
    display: block;
    min-height: 100px;
    border-bottom: 1px solid var(--border-primary);

    .profile-spot {
      display: block;
      height: 200px;

      .profile {
        width: 100%;
        height: 100%;

        .circle-profile {
          margin-top: 30px;
          width: 100%;
          height: 100px;
          display: flex;
          justify-content: center;
          .radius {
            width: 100px;
            height: 100px;
            border-radius: 999px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .text-profile {
          text-align: center;

          h3 {
            line-height: 60px;
          }

          h5 {
            line-height: 0;
            color: var(--text-color-secondry);
          }
        }
      }
    }
  }
  .activeNav {
    background-color: var(--accent-secondry);
    color: var(--accent);
    p {
      color: var(--accent);
    }
  }

  .background-of-todo-item {
    width: 104px;
    height: 58px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 85%;
      height: 85%;
    }
  }

  .transparent-bg {
    width: 104px;
    height: 58px;
    background-color: transparent;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 85%;
      height: 85%;
    }
  }

  #active-div {
    // background-color: red;

    p {
      color: black;
    }
  }
}

@media (max-width: 1850px) {
}

@media (max-width: 1400px) {
  .search-section {
    width: 100%;
  }
  .central-holder {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .aside {
    position: absolute;
    z-index: 1;
    // display: none;
  }
  .main-section {
    width: 100vw;
    height: 100%;
  }
  .search-section {
    .search {
      gap: 10px;
    }
  }
  .central-holder {
    width: 100%;
  }
  .master-card {
    .cards {
      grid-template-columns: 2fr 7fr 2fr 2fr;
    }
    .order-of-cards:nth-child(2) {
      width: 100%;
      max-width: 200px;
    }
  }

  //--------asdie
  .extend {
    width: 300px;
    max-width: 300px;
  }
  .unextend {
    width: 0px;
  }
}

//---------------------filter component
#active {
  color: var(--accent);
}
h1 {
  font-size: 1.3rem;
}

//---------------setting
.setting-card {
  min-height: 10rem;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1.5rem;
  background-color: var(--bg-color-secondry);
  border: 1px solid var(--border-primary);
  color: var(--text-color-primary);
  box-shadow: var(--search-box-shadow);
}
.user-change-info-form {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .change-info-form-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem 0;
    input {
      max-width: 80%;
      height: 40px;
      border-radius: 5px;
      border: 1px solid var(--border-primary);
      padding: 15px;
      outline: none;
      font-size: 0.9rem;
      font-weight: 450;
      box-shadow: var(--search-box-shadow);
    }
  }
  .email-field {
    div {
      max-width: 80%;
      border-radius: 5px;
      overflow: hidden;
      border: none;
      position: relative;
      border: 1px solid var(--border-primary);
      input {
        all: unset;
        width: 100%;
        height: 40px;
        padding-left: 15px;
        border: none;
        outline: none;
        color: var(--text-color-secondry);
        background-color: var(--bg-color-primary);
        box-shadow: var(--search-box-shadow);
      }
      svg {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        margin-right: 10px;
        color: gray;
      }
    }
  }
}
.card-hero {
  display: flex;
  gap: 20px;
  .card-hero-icon {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--accent);
    color: white;
  }
  .card-hero-text {
    h2 {
      font-size: 1.3rem;
    }
    p {
      font-size: 1rem;
      font-weight: 500;
      color: var(--text-color-secondry);
    }
  }
}
.profile-information-right-div {
  .profile-information-photo {
    height: 50%;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border: 1px solid var(--accent);
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  .profile-information-file-reader {
    height: 30%;
    p {
      width: 100%;
      font-size: 0.8rem;
      font-weight: 450;
      text-align: center;
      line-height: 40px;
      color: var(--text-color-secondry);
    }
    button {
      border: 1px solid var(--accent);
      background-color: var(--accent);
      position: relative;
      display: flex;
      overflow: hidden;
      width: 100%;
      height: 40px;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      color: white;
      .file-reader-input {
        position: absolute;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        background-color: green;
      }
    }
  }

  .profile-information-save {
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    button {
      background-color: var(--accent);
      border: 1px solid var(--border-primary);
      padding: 0.5rem 1.2rem;
      border-radius: 10px;
      color: white;
      font-weight: 400;
      cursor: pointer;
      transition: 0.1s ease-in;
      &:hover {
        transform: scale(1.01);
      }
    }
  }
}
.svg-span {
  padding: 10px 10px 10px 0;
  svg {
    width: 25px;
    height: 25px;
  }
}
.profile-setting-header {
  background-color: transparent;
  margin-top: 1.5rem;
  .p-s-header-item-1 {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--text-color-primary);
  }
  h1 {
    font-size: 1.9rem;
  }
  p {
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color-secondry);
    line-height: 40px;
  }
}

@media (max-width: 1380px) {
  .user-change-info-form {
    grid-template-columns: 1fr;
  }
}

//-----------------edit component
.edit-master {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-35%, -15%);
  padding: 1.5rem;
  border-radius: 15px;
  z-index: 1000;
  background-color: var(--bg-color-secondry);
  border: 1px solid var(--border-primary);
  .edit-form {
    width: 500px;
    min-height: 50vh;
    z-index: 1;
    color: var(--text-color-primary);
    .edit-header {
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 1px solid var(--border-primary);
        background-color: var(--accent);
        cursor: pointer;
        &:hover {
          transform: scale(1.01);
        }
      }
    }
    .edit-second-header {
      padding-bottom: 30px;
      display: flex;
      align-items: center;
      h3 {
        color: var(--text-color-secondry);
      }
    }
    .edit-changes {
      .edit-changes-title {
        display: flex;
        flex-direction: column;
        gap: 5px;
        input {
          padding-left: 20px;
          height: 40px;
          border-radius: 10px;
          outline: none;
          border: 1px solid var(--border-primary);
        }
      }
      .edit-changes-description,
      .edit-changes-date {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        textarea {
          font-size: 1.1rem;
          font-weight: 400;
          resize: none;
          padding-top: 15px;
          padding-left: 15px;
          border-radius: 10px;
          height: 70px;
          outline: none;
          border: 1px solid var(--border-primary);
          width: 100%;
        }
      }
      .edit-changes-state {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        div {
          border: 1px solid var(--border-primary);
          padding: 0 15px;
          width: 100%;
          border-radius: 10px;
        }
        select {
          width: 100%;
          height: 40px;
          outline: none;
          option {
            outline: none;
          }
        }
      }
      .edit-changes-date {
        div {
          padding: 0 10px;
          align-items: center;
          border-radius: 10px;
          border: 1px solid var(--border-primary);
          input {
            width: 100%;
            height: 40px;
          }
          input[type="date"]::-webkit-calendar-picker-indicator {
            filter: var(--invert);
          }
        }
      }
    }
    .edit-save {
      padding-top: 30px;
      display: flex;
      gap: 10px;
      button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid var(--border-primary);
        p {
          font-size: 1.1rem;
        }
      }
      button:nth-child(1) {
        padding: 13px;
        flex: 1;
      }
      button:nth-child(2) {
        padding: 13px;
        flex: 2;
        gap: 10px;
        color: white;
        background-color: var(--accent);
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}

//---------------------appearance setting
.appearance-card {
  margin-top: 15px;
  display: flex;
  gap: 30px;
  > div {
    flex: 1;
  }
  > div:nth-child(2) {
    flex: 1;
  }
  .appearance-introduction {
    .a-p-i-logo {
      display: flex;
      .svg-span {
        svg {
          background-color: var(--accent);
          width: 65px;
          height: 65px;
          color: white;
          padding: 18px;
          border-radius: 50%;
        }
      }
    }
    .a-p-i-text {
      width: 80%;
      p {
        color: var(--text-color-secondry);
        font-weight: 450;
        width: 80%;
        overflow-wrap: break-word;
      }
    }
    display: flex;
    gap: 20px;
  }
  .appearance-theme {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    position: relative;
    padding-right: 40px;
    .a-th-themes {
      display: flex;
      gap: 10px;
      > div {
        position: relative;
        flex: 1;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 5px;
        border: 2px solid var(--border-primary);
        cursor: pointer;
        .a-th-themes-active {
          position: absolute;
          top: -5px;
          right: -5px;
          width: 25px;
          height: 25px;
          border: 1px solid var(--border-primary);
          border-radius: 50%;
          padding: 3px;
          color: var(--text-color-primary);
          background-color: var(--bg-color-secondry);
        }
      }
      .active-theme {
        background-color: var(--accent);
        color: white;
      }
    }
  }
  .appearance-theme::after {
    content: "";
    position: absolute;
    background-color: var(--border-primary);
    width: 1px;
    height: 100%;
    right: 0;
  }
  .appearance-accent {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: center;
    gap: 15px;
    font-size: 1rem;
    font-weight: 500;
    .a-a-accents {
      display: flex;
      gap: 20px;
      button {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
